.favorites {
  padding: 36px 20px;
}

.favorites > h1 {
  margin-bottom: 22px;
  text-align: center;
}

.movieList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .movieList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1100px;
    gap: 40px;
  }
}
